# usado pelo postgres-adocao
POSTGRES_USER=${ADOCAO_DB_USER}
POSTGRES_PASSWORD=${ADOCAO_DB_PASSWORD}
# usado pelo serviço: a URL do banco e a do RabbitMQ, com o usuário "adocao" (#89)
ADOCAO_DATABASE_URL=postgres://${ADOCAO_DB_USER}:${ADOCAO_DB_PASSWORD}@postgres-adocao:5432/adocao?sslmode=disable
ADOCAO_AMQP_URL=amqp://adocao:${RABBITMQ_ADOCAO_PASSWORD}@rabbitmq:5672/
